################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/portfolio/FileContentIndex/b038adb7-f62f-48d2-8611-1a40463ac5c7.vsidx
/.vs/portfolio/FileContentIndex/bb67d7da-062c-4a63-a4e5-9894aa68171b.vsidx
/.vs/portfolio/FileContentIndex/990fa583-80f4-4f7f-9e29-0c73c5c81ecb.vsidx
*.vsidx
